
<div class="sidebar">
    <a href="/Product/Index/">Products</a>
    <a href="/Product/AddProduct/">Add Products</a>
    <a href="/Customer/Index/">Customers</a>
    <a href="/Customer/AddCustomer/">Add Customer</a>
    <a href="/Job/Index/">Jobs</a>
    <a href="/Job/AddJob/">Add Job</a>
    <a href="/Setting/Index/">Setting</a>
    @*<a href="#contact">Categories</a>*@
    <a href="#about">Help</a>
    <a href="#about">Log Out</a>
</div>