@using EntityLayer.Concrete
@model Job
@{
    ViewData["Title"] = "AddJob";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>Add Job</h1>

<form method="post">
    @Html.Label("Job Name")
    @Html.TextBoxFor(p => p.Name)
    @Html.ValidationMessageFor(p => p.Name)
  
    <button>Add Job</button>
</form>
